<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">

</head>
<body>
        <!-- header -->
    <header>
        <div>
            <img class ="logo-img" src="{{logo}}" alt="">
            <div class="logo-text">
                Culinary Vision
            </div>
        </div>
        
        
        
    </header>

    <!-- slider -->

    <div class="slider">
        <!-- list Items -->
        <div class="list">
            <div class="item active">
                <img src="{{photo1}}">
                <div class="content">
                    <p>Recipe 1</p>
                    <h2>{{title1}}</h2>
                    <p>
                        {{description1}}
                    </p>
                </div>
            </div>
            <div class="item">
                <img src="{{photo2}}">
                <div class="content">
                    <p>Recipe 2</p>
                    <h2>{{title2}}</h2>
                    <p>
                        {{description2}}
                    </p>
                </div>
            </div>
            <div class="item">
                <img src="{{photo3}}">
                <div class="content">
                    <p>Recipe 3</p>
                    <h2>{{title3}}</h2>
                    <p>
                        {{description3}}
                    </p>
                </div>
            </div>
           
           
        </div>
        <!-- button arrows -->
        <div class="arrows">
            <button id="prev"><</button>
            <button id="next">></button>
        </div>
        <!-- thumbnail -->
        <div class="thumbnail">
            <div class="item active">
                <img src="{{photo1}}">
                <div class="content">
                </div>
            </div>
            <div class="item">
                <img src="{{photo2}}">
                <div class="content">
                </div>
            </div>
            <div class="item">
                <img src="{{photo3}}">
                <div class="content">
                </div>
            </div>
           
        </div>
    </div>
    <script src="/static/app.js"></script>

</body>

</html>